node_modules
*docker-compose*
*.env
*Dockerfile*
test
.vscode/
.idea/
data/
db/
src/
.DS_Store
*.sh
npm-debug.log
yarn-error.log
.npm
.node_repl_history
logs
*.log
npm-debug.log*
.git
*.sh
README*
.editorconfig
.gitignore
.dockerignore
